{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>New Booking</h1>
<form action="" method="post">
  
  {% csrf_token %}

  <div class="row">
    <div class="col-3">
      {{ form.asset|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.ownerUser|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.ownerGroup|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.purpose|as_crispy_field }}
    </div>  
  </div>

  <div class="row">
    <div class="col-3">
      {{ form.fromDate|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.shippingDate|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.returnDate|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.toDate|as_crispy_field }}
    </div>  
  </div>

  <div class="row">
    <div class="col-12">
      {{ form.note|as_crispy_field }}
    </div>
  </div>
  
  <input type="button" class="btn btn-success" value="Cancel" onclick="location.href='{% url 'home' %}'"/>
  <input type="submit" class="btn btn-success" value="Save"/>
</form>

<script>
$(function() {
  page_create()
});
</script>

{% endblock %}