{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Password change</h1>

<form action="" method="post">
  {% csrf_token %}

  <div class="row">
    <div class="col-3">
  {{ form.old_password|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-3">
  {{ form.new_password1|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      {{ form.new_password2|as_crispy_field }}
    </div>
  </div>

  <input type="button" class="btn btn-success" value="Cancel" onclick="location.href='{% url 'account_user_self_update' %}'"/>
  <input type="submit" class="btn btn-success" value="Change my password"/>

</form>

<script>
$(function() {
  console.log('remove')
  $('small#hint_id_new_password1').remove();
});
</script>

{% endblock %}