{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Password Reset</h1>

<div class="row">
  <div class="col"><span class='bookingmodal-left1'>User name : </span>{{ username }}</div>
</div>
<div class="row">
  <div class="col"><span class='bookingmodal-left1'>Group name : </span>{{ groupname }}</div>
</div>
  
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-3">
      {{ form.password1|as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.password2|as_crispy_field }}
    </div>
  </div>

  <input type="button" class="btn btn-success" value="Cancel" onclick="location.href='{% url 'account_user_list' %}'"/>
  <input type="submit" class="btn btn-success" value="Update"/>
</form>

{% endblock %}